 
body {
    flex-direction:column; 
    min-height: 100vh;
    display: flex;
  }
 
 /*Navbar*/
 .navbar {
    height: 80px; /* Increased height */
  }
  
  .navbar-nav .nav-link {
    font-weight: bold; /* Make navlinks bolder */
    font-family: Arial, sans-serif; /* Change font-family */
  } 
  
  /* Smooth animation for dropdown */
  @keyframes slideDown {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  
  to {
      opacity: 1;
      transform: translateY(0);
  }
  }
  
  .navbar-collapse {
  animation: slideDown 0.3s ease;
  }
  
  .navbar {
    background-color: rgba(0, 0, 0, 0.7); /* Translucent black background */
    position: sticky; /* Sticky navbar */
    top: 0; /* Position at the top of the viewport */
    z-index: 1000; /* Ensure navbar stays on top */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    }
  
    .navbar-brand {
      font-weight: bold;
      color: #fff; /* Brighter color for brand */
      }
      
      .navbar-nav .nav-link {
      color: #fff;
      font-size: 16px; /* Brighter color for nav links */
      }
      
    .nav-link:hover {
      color: #ffc107 !important; /* Standout color on hover */
      }
  
      .custom-toggler.navbar-toggler{
        border-color: red;
      }
  
      .custom-toggler .navbar-toggler-icon{
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgb(0, 158, 0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
      
      }

      /*Navigation*/
 nav {
  position:sticky;
  height: 6rem;

} 

      /*Footer*/
      #footLinks {
        justify-content: space-evenly;
        padding-top: 5rem;
        list-style: none;
        }

      /*logos bottom of page*/
  #awards-list {
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5rem;
  }
